<form action="/login" method="post" style="width: 15rem; margin-left:600px;padding-top:65px">
     
  <div data-mdb-input-init class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Email address</label>
    <input name="Email" type="email" id="form2Example1" class="form-control" />
    
  </div>

 
  <div data-mdb-input-init class="form-outline mb-4">
     <label class="form-label" for="form2Example2">Password</label>
    <input  name="Password" type="password" id="form2Example2" class="form-control" />
   
  </div>
 {{#if loginErr}}
  <p class="error">{{loginErr}}</p>

  {{/if}}
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="form2Example31"  />
        <label class="form-check-label" for="form2Example31"> Remember me </label>
      </div>
    </div>

    <div class="col">
   
      <a href="#!">Forgot password?</a>
    </div>
  </div>

  
  <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>

 
  <div class="text-center">
    <p>Not a member? <a href="/signup">Register</a></p>
    

  </div>
</form>